PG_IMAGE="{{ runtime_pg_image }}"

PG_BASE="{{ pg_base }}"
PG_USER="{{ pg_user }}"
PG_PASS="{{ pg_pass }}"
PG_HOST="{{ pg_host }}"
PG_PORT="{{ pg_port }}"
PG_SSL="{{ pg_sslmode | default(runtime_pg_sslmode, true) }}"

{% if runtime_pg_backup_concurrency | int != 1 %}
PG_BACKUP_CONCURRENCY="{{ runtime_pg_backup_concurrency }}"
{% endif %}
{% if runtime_cluster_realm == 'prd' and runtime_pg_backup_secret | string | length > 0 %}
PG_BACKUP_SECRET="{{ runtime_pg_backup_secret }}"
{% endif %}
{% if runtime_pg_backup_s3_enabled | bool %}
PG_BACKUP_S3_ENDPOINT="{{ runtime_pg_backup_s3_endpoint }}"
PG_BACKUP_S3_REGION="{{ runtime_pg_backup_s3_region }}"
PG_BACKUP_S3_BUCKET="{{ runtime_pg_backup_s3_bucket }}"
PG_BACKUP_S3_PREFIX="postgres/{{ pg_base }}/$(date -u '+%y/%V')"
PG_BACKUP_S3_ACCESS_KEY="{{ runtime_pg_backup_s3_access_key }}"
PG_BACKUP_S3_SECRET_KEY="{{ runtime_pg_backup_s3_secret_key }}"
{% endif %}

{% if runtime_pg_recover_concurrency | string | length > 0 %}
PG_RECOVER_CONCURRENCY="{{ runtime_pg_recover_concurrency }}"
{% endif %}
{% if runtime_pg_recover_secret | string | length > 0 %}
PG_RECOVER_SECRET="{{ runtime_pg_recover_secret }}"
{% endif %}
{% if runtime_pg_recover_no_prepare | bool %}
PG_RECOVER_NO_PREPARE="true"
{% endif %}
{% if runtime_pg_recover_no_recreate | bool %}
PG_RECOVER_NO_RECREATE="true"
{% endif %}
{% if runtime_pg_recover_exclude_extensions | string | length > 0 %}
PG_RECOVER_EXCLUDE_EXTENSIONS="{{ runtime_pg_recover_exclude_extensions }}"
{% endif %}
{% if runtime_pg_recover_s3_enabled | bool %}
PG_RECOVER_S3_ENDPOINT="{{ runtime_pg_recover_s3_endpoint }}"
PG_RECOVER_S3_REGION="{{ runtime_pg_recover_s3_region }}"
PG_RECOVER_S3_BUCKET="{{ runtime_pg_recover_s3_bucket }}"
PG_RECOVER_S3_PREFIX="{{ pg_recover_s3_prefix | default(runtime_pg_recover_s3_prefix, true) }}"
PG_RECOVER_S3_ACCESS_KEY="{{ runtime_pg_recover_s3_access_key }}"
PG_RECOVER_S3_SECRET_KEY="{{ runtime_pg_recover_s3_secret_key }}"
{% endif %}
