{% for runtime_secret_key in item.secrets.keys() | sort %}{{ runtime_secret_key }}="{{ item.secrets[runtime_secret_key] | string | replace('\\', '\\\\') | replace('"', '\\"') | replace('$', '\\$') | replace('`', '\\`') }}"
{% endfor %}
