---

{% raw %}
groups:
  - name: common
    rules:
      - alert: MissingResponse
        expr: up == 0
        for: 1m
        labels:
          sev: critical
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: '{{ $labels.instance }}/{{ $labels.job }} is not reachable'
          rule: 'up is {{ $value }}; alert fires when == 0 for 1m'

  - name: node
    rules:
      - alert: HostSystemdServiceCrashed
        expr: node_systemd_unit_state{state='failed'} == 1
        for: 0m
        labels:
          sev: critical
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: SystemD service crashed on {{ $labels.instance }}
          rule: 'failed unit state is {{ $value }}; alert fires when == 1'

      - alert: HostOomKillDetected
        expr: increase(node_vmstat_oom_kill[1m]) > 0
        for: 0m
        labels:
          sev: critical
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: OOM kill detected on {{ $labels.instance }}
          rule: 'OOM kill increase is {{ $value }}; alert fires when > 0'

      - alert: HostOutOfDiskSpace
        expr: node_filesystem_avail_bytes{mountpoint='/'} / node_filesystem_size_bytes{mountpoint='/'} * 100 < 10
        for: 1m
        labels:
          sev: critical
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: Disk space critically low on {{ $labels.instance }}
          rule: 'root filesystem free space is {{ $value }}%; alert fires when < 10% for 1m'

      - alert: HostOutOfInodes
        expr: node_filesystem_files_free{mountpoint ='/'} / node_filesystem_files{mountpoint='/'} * 100 < 10
        for: 1m
        labels:
          sev: critical
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: Inode shortage on {{ $labels.instance }}
          rule: 'root filesystem free inodes are {{ $value }}%; alert fires when < 10% for 1m'

      - alert: HostSwapIsFillingUp
        expr: (1 - (node_memory_SwapFree_bytes / node_memory_SwapTotal_bytes)) * 100 > 70
        for: 1m
        labels:
          sev: critical
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: Swap usage high on {{ $labels.instance }}
          rule: 'swap usage is {{ $value }}%; alert fires when > 70% for 1m'

      - alert: HostOutOfMemory
        expr: node_memory_MemAvailable_bytes / node_memory_MemTotal_bytes * 100 < 10
        for: 1m
        labels:
          sev: critical
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: Out of memory on {{ $labels.instance }}
          rule: 'available memory is {{ $value }}%; alert fires when < 10% for 1m'

      - alert: HostMemoryUnderMemoryPressure
        expr: rate(node_vmstat_pgmajfault[1m]) > 1000
        for: 1m
        labels:
          sev: warning
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: High memory pressure on {{ $labels.instance }}
          rule: 'major page fault rate is {{ $value }}/s; alert fires when > 1000/s for 1m'

      - alert: HostHighCpuLoad
        expr: 100 - (avg by(instance, cluster, realm, platform, world) (rate(node_cpu_seconds_total{mode='idle'}[2m])) * 100) > 90
        for: 1m
        labels:
          sev: warning
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: High CPU load on {{ $labels.instance }}
          rule: 'CPU usage is {{ $value }}%; alert fires when > 90% for 1m'

      - alert: HostCpuStealNoisyNeighbor
        expr: avg by(instance, cluster, realm, platform, world) (rate(node_cpu_seconds_total{mode='steal'}[5m])) * 100 > 10
        for: 1m
        labels:
          sev: warning
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: High CPU steal on {{ $labels.instance }}
          rule: 'CPU steal is {{ $value }}%; alert fires when > 10% for 1m'

      - alert: HostFileDescriptorsUsage
        expr: node_filefd_allocated / node_filefd_maximum * 100 > 90
        for: 5m
        labels:
          sev: critical
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: High file descriptor usage on {{ $labels.instance }}
          rule: 'file descriptor usage is {{ $value }}%; alert fires when > 90% for 5m'

      - alert: HostPidExhaustion
        expr: node_processes_pids_count / node_processes_max_processes * 100 > 85
        for: 5m
        labels:
          sev: critical
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: PID exhaustion approaching on {{ $labels.instance }}
          rule: 'PID usage is {{ $value }}%; alert fires when > 85% for 5m'

      - alert: HostFilesystemReadOnly
        expr: node_filesystem_readonly{fstype!~'tmpfs|squashfs'} == 1
        for: 0m
        labels:
          sev: critical
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: Read-only filesystem detected on {{ $labels.instance }}
          rule: 'read-only flag for {{ $labels.mountpoint }} is {{ $value }}; alert fires when == 1'

      - alert: HostZombieProcesses
        expr: node_processes_state{state='Z'} > 50
        for: 5m
        labels:
          sev: warning
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: High zombie process count on {{ $labels.instance }}
          rule: 'zombie process count is {{ $value }}; alert fires when > 50 for 5m'

      - alert: HostBlockedProcesses
        expr: node_procs_blocked > 20
        for: 5m
        labels:
          sev: warning
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: High blocked process count on {{ $labels.instance }}
          rule: 'blocked process count is {{ $value }}; alert fires when > 20 for 5m'

      - alert: HostTcpSocketsExhaustion
        expr: node_sockstat_TCP_alloc > 50000
        for: 5m
        labels:
          sev: warning
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: High TCP socket allocation on {{ $labels.instance }}
          rule: 'allocated TCP sockets are {{ $value }}; alert fires when > 50000 for 5m'

      - alert: HostTcpTimeWaitExhaustion
        expr: node_sockstat_TCP_tw > 30000
        for: 5m
        labels:
          sev: warning
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: High TIME_WAIT socket count on {{ $labels.instance }}
          rule: 'TCP TIME_WAIT sockets are {{ $value }}; alert fires when > 30000 for 5m'

      - alert: HostNetworkReceiveErrors
        expr: rate(node_network_receive_errs_total{device!~'^(veth|br-|docker|tap).*'}[5m]) > 0
        for: 5m
        labels:
          sev: warning
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: Network receive errors on {{ $labels.instance }}:{{ $labels.device }}
          rule: 'receive error rate on {{ $labels.device }} is {{ $value }}/s; alert fires when > 0/s for 5m'

      - alert: HostNetworkTransmitErrors
        expr: rate(node_network_transmit_errs_total{device!~'^(veth|br-|docker|tap).*'}[5m]) > 0
        for: 5m
        labels:
          sev: warning
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: Network transmit errors on {{ $labels.instance }}:{{ $labels.device }}
          rule: 'transmit error rate on {{ $labels.device }} is {{ $value }}/s; alert fires when > 0/s for 5m'

      - alert: HostEntropyPoolLow
        expr: node_entropy_available_bits < 100
        for: 5m
        labels:
          sev: warning
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: Low entropy pool on {{ $labels.instance }}
          rule: 'available entropy is {{ $value }} bits; alert fires when < 100 bits for 5m'

      - alert: HostConntrackLimit
        expr: node_nf_conntrack_entries / node_nf_conntrack_entries_limit > 0.8
        for: 1m
        labels:
          sev: warning
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: High conntrack usage on {{ $labels.instance }}
          rule: 'conntrack usage ratio is {{ $value }}; alert fires when > 0.8 for 1m'

      - alert: HostNetworkInterfaceSaturated
        expr: (rate(node_network_receive_bytes_total{device!~'^tap.*'}[1m]) + rate(node_network_transmit_bytes_total{device!~'^tap.*'}[1m])) / node_network_speed_bytes{device!~'^tap.*'} > 0.8
        for: 1m
        labels:
          sev: warning
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: Network interface saturated on {{ $labels.instance }}:{{ $labels.device }}
          rule: 'interface saturation ratio on {{ $labels.device }} is {{ $value }}; alert fires when > 0.8 for 1m'

      - alert: HostUnusualNetworkThroughputIn
        expr: sum by (instance, cluster, realm, platform, world) (rate(node_network_receive_bytes_total[2m])) / 1024 / 1024 > 100
        for: 5m
        labels:
          sev: warning
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: High inbound network throughput on {{ $labels.instance }}
          rule: 'inbound network throughput is {{ $value }} MB/s; alert fires when > 100 MB/s for 5m'

      - alert: HostUnusualNetworkThroughputOut
        expr: sum by (instance, cluster, realm, platform, world) (rate(node_network_transmit_bytes_total[2m])) / 1024 / 1024 > 100
        for: 5m
        labels:
          sev: warning
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: High outbound network throughput on {{ $labels.instance }}
          rule: 'outbound network throughput is {{ $value }} MB/s; alert fires when > 100 MB/s for 5m'

      - alert: HostUnusualDiskReadRate
        expr: sum by (instance, cluster, realm, platform, world) (rate(node_disk_read_bytes_total[2m])) / 1024 / 1024 > 50
        for: 5m
        labels:
          sev: warning
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: High disk read rate on {{ $labels.instance }}
          rule: 'disk read throughput is {{ $value }} MB/s; alert fires when > 50 MB/s for 5m'

      - alert: HostUnusualDiskWriteRate
        expr: sum by (instance, cluster, realm, platform, world) (rate(node_disk_written_bytes_total[2m])) / 1024 / 1024 > 50
        for: 5m
        labels:
          sev: warning
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: High disk write rate on {{ $labels.instance }}
          rule: 'disk write throughput is {{ $value }} MB/s; alert fires when > 50 MB/s for 5m'

      - alert: HostUnusualDiskReadLatency
        expr: rate(node_disk_read_time_seconds_total[1m]) / rate(node_disk_reads_completed_total[1m]) > 0.1 and rate(node_disk_reads_completed_total[1m]) > 0
        for: 5m
        labels:
          sev: warning
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: High disk read latency on {{ $labels.instance }}
          rule: 'average disk read latency is {{ $value }}s; alert fires when > 0.1s for 5m'

      - alert: HostUnusualDiskWriteLatency
        expr: rate(node_disk_write_time_seconds_total{device!~'mmcblk.+'}[1m]) / rate(node_disk_writes_completed_total{device!~'mmcblk.+'}[1m]) > 0.1 and rate(node_disk_writes_completed_total{device!~'mmcblk.+'}[1m]) > 0
        for: 5m
        labels:
          sev: warning
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: High disk write latency on {{ $labels.instance }}
          rule: 'average disk write latency is {{ $value }}s; alert fires when > 0.1s for 5m'

      - alert: HostContextSwitching
        expr: (rate(node_context_switches_total[5m])) / (count without(cpu, mode) (node_cpu_seconds_total{mode='idle'})) > 10000
        for: 5m
        labels:
          sev: warning
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: High context switching on {{ $labels.instance }}
          rule: 'context switch rate is {{ $value }}; alert fires when > 10000 for 5m'

      - alert: HostClockSkew
        expr: (node_timex_offset_seconds > 0.05 and deriv(node_timex_offset_seconds[5m]) >= 0) or (node_timex_offset_seconds < -0.05 and deriv(node_timex_offset_seconds[5m]) <= 0)
        for: 5m
        labels:
          sev: warning
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: Clock skew detected on {{ $labels.instance }}
          rule: 'clock offset is {{ $value }}s; alert fires when offset keeps drifting past +/-0.05s for 5m'

      - alert: HostClockNotSynchronising
        expr: min_over_time(node_timex_sync_status[1m]) == 0 and node_timex_maxerror_seconds >= 16
        for: 5m
        labels:
          sev: warning
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: Clock synchronization failure on {{ $labels.instance }}
          rule: 'time sync status is {{ $value }}; alert fires when sync status == 0 and max error >= 16s for 5m'

      - alert: HostKernelVersionDeviations
        expr: count by (cluster, realm, platform, world) (sum by (cluster, realm, platform, world, kernel) (label_replace(node_uname_info, 'kernel', '$1', 'release', '([0-9]+.[0-9]+.[0-9]+).*'))) > 1
        for: 24h
        labels:
          sev: warning
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: Kernel version deviation on {{ $labels.instance }}
          rule: 'kernel version count is {{ $value }}; alert fires when > 1 for 24h'

  - name: docker
    rules:
      - alert: ContainerHighRestartCount
        expr: changes(container_start_time_seconds{name!=''}[5m]) > 2
        for: 0m
        labels:
          sev: warning
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: High restart count in container {{ $labels.name }}
          rule: 'restart count is {{ $value }} in 5m; alert fires when > 2'

      - alert: ContainerMemoryUsage
        expr: (sum by(instance, name, cluster, realm, platform, world) (container_memory_working_set_bytes{name!=''}) / sum by(instance, name, cluster, realm, platform, world) (container_spec_memory_limit_bytes{name!=''} > 0) * 100) > 90
        for: 5m
        labels:
          sev: warning
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: High memory usage in container {{ $labels.name }}
          rule: 'memory usage is {{ $value }}%; alert fires when > 90% for 5m'

      - alert: ContainerCpuUsage
        expr: (sum by(instance, name, cluster, realm, platform, world) (rate(container_cpu_usage_seconds_total{name!=''}[3m])) / (sum by(instance, name, cluster, realm, platform, world) (container_spec_cpu_quota{name!=''} > 0) / sum by(instance, name, cluster, realm, platform, world) (container_spec_cpu_period{name!=''} > 0)) * 100) > 90
        for: 5m
        labels:
          sev: warning
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: High CPU usage in container {{ $labels.name }}
          rule: 'CPU usage is {{ $value }}%; alert fires when > 90% for 5m'

      - alert: ContainerUnhealthy
        expr: container_health_status{name!=''} == 0
        for: 0m
        labels:
          sev: critical
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: Unhealthy container {{ $labels.name }}
          rule: 'health status is {{ $value }}; alert fires when == 0'

      - alert: DockerContainerDown
        expr: time() - container_last_seen{name!='', swarm_task='', swarm_service='', container_label_com_docker_swarm_service_name='', container_label_com_gitlab_gitlab_runner_managed!='true'} > 60
        for: 5m
        labels:
          sev: critical
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: Container {{ $labels.name }} is down on {{ $labels.instance }}
          rule: 'seconds since last seen is {{ $value }}s; alert fires when > 60s for 5m'

      - alert: DockerContainerFailedExit
        expr: increase(docker_events_container_total{status=~"die|.*oom.*|.*kill.*", container_attributes_exitcode!='', container_attributes_exitcode!='0'}[10m]) > 0
        for: 0m
        labels:
          sev: warning
          cluster: '{{ $labels.cluster }}'
          realm: '{{ $labels.realm }}'
          platform: '{{ $labels.platform }}'
          world: '{{ $labels.world }}'
        annotations:
          summary: Container {{ $labels.container_attributes_name }} exited with code {{ $labels.container_attributes_exitcode }} on {{ $labels.instance }}
          rule: 'event count increase is {{ $value }}; alert fires when non-zero exit, OOM, or kill events increase over 10m'
{% endraw %}
{% if docker_prometheus_custom_alerts | trim | length > 0 %}

{{ docker_prometheus_custom_alerts | trim | indent(2, true) }}
{% endif %}
