---

global:
  scrape_interval: 1m
  scrape_timeout: 15s
  evaluation_interval: 1m

alerting:
  alertmanagers:
    - scheme: http
      static_configs:
        - targets:
          - {{ docker_prometheus_alertmanager_host }}:{{ docker_prometheus_alertmanager_http_port }}

rule_files:
  - /etc/prometheus/alerts.yml

scrape_configs:
  - job_name: prometheus
    static_configs:
      - labels:
          instance: {{ docker_prometheus_fqdn_ext }}
          platform: {{ docker_prometheus_cluster_platform }}
          realm: {{ docker_prometheus_cluster_realm }}
          cluster: {{ docker_prometheus_cluster_name }}
          world: {{ docker_prometheus_cluster_world }}
{% if docker_prometheus_common_labels | length > 0 %}
{{ docker_prometheus_common_labels | to_nice_yaml(indent=2, sort_keys=false) | trim | indent(10, true) }}
{% endif %}
        targets:
        - 127.0.0.1:{{ docker_prometheus_http_port }}

  - job_name: alertmanager
    scrape_interval: 15s
    static_configs:
      - labels:
          instance: {{ docker_prometheus_fqdn_ext }}
          platform: {{ docker_prometheus_cluster_platform }}
          realm: {{ docker_prometheus_cluster_realm }}
          cluster: {{ docker_prometheus_cluster_name }}
          world: {{ docker_prometheus_cluster_world }}
{% if docker_prometheus_common_labels | length > 0 %}
{{ docker_prometheus_common_labels | to_nice_yaml(indent=2, sort_keys=false) | trim | indent(10, true) }}
{% endif %}
        targets:
          - {{ docker_prometheus_alertmanager_host }}:{{ docker_prometheus_alertmanager_http_port }}

  - job_name: loki
    static_configs:
      - labels:
          instance: {{ docker_prometheus_fqdn_ext }}
          platform: {{ docker_prometheus_cluster_platform }}
          realm: {{ docker_prometheus_cluster_realm }}
          cluster: {{ docker_prometheus_cluster_name }}
          world: {{ docker_prometheus_cluster_world }}
{% if docker_prometheus_common_labels | length > 0 %}
{{ docker_prometheus_common_labels | to_nice_yaml(indent=2, sort_keys=false) | trim | indent(10, true) }}
{% endif %}
        targets:
          - {{ docker_prometheus_loki_host }}:{{ docker_prometheus_loki_http_port }}
{% if docker_prometheus_targets | length > 0 %}

{{ docker_prometheus_targets | to_nice_yaml(indent=2, sort_keys=false) | trim | indent(2, true) }}
{% endif %}
{% if docker_prometheus_blackbox_targets | length > 0 %}

{% for item in docker_prometheus_blackbox_targets %}
{{ [item | combine({'relabel_configs': item.relabel_configs | default(docker_prometheus_blackbox_relabel_configs)})] | to_nice_yaml(indent=2, sort_keys=false) | trim | indent(2, true) }}
{% endfor %}
{% endif %}
