dns_nicru_client_id = {{ certbot_dns_nicru_client_id }}
dns_nicru_client_secret = {{ certbot_dns_nicru_client_secret }}
dns_nicru_username = {{ certbot_dns_nicru_username }}
dns_nicru_password = {{ certbot_dns_nicru_password }}
dns_nicru_scope = {{ certbot_dns_nicru_scope }}
dns_nicru_service = {{ certbot_dns_nicru_service }}
dns_nicru_zone = {{ certbot_dns_nicru_zone }}
