---

log:
  level: INFO

accessLog:
  format: json
  fields:
    defaultMode: keep
    headers:
      defaultMode: drop
      names:
        X-Forwarded-For: keep
        X-Request-ID: keep

api:
  dashboard: true
  insecure: false

ping:
  manualRouting: true

entryPoints:
  web:
    address: :80
    forwardedHeaders:
      trustedIPs:
{% for trusted_ip in docker_swarm_traefik_forwarded_headers_trusted_ips %}
        - {{ trusted_ip }}
{% endfor %}
  websecure:
    address: :443
    forwardedHeaders:
      trustedIPs:
{% for trusted_ip in docker_swarm_traefik_forwarded_headers_trusted_ips %}
        - {{ trusted_ip }}
{% endfor %}

{% if docker_swarm_traefik_letsencrypt_enabled | bool %}
certificatesResolvers:
  {{ docker_swarm_traefik_letsencrypt_resolver }}:
    acme:
      email: '{{ docker_swarm_traefik_letsencrypt_email }}'
      storage: {{ docker_swarm_traefik_letsencrypt_storage }}
      httpChallenge:
        entryPoint: web

{% endif %}
providers:
  swarm:
    endpoint: unix:///var/run/docker.sock
    exposedByDefault: false
    watch: true
    network: '{{ docker_swarm_traefik_network }}'
  file:
    directory: /etc/traefik/dynamic
    watch: true
