local all all trust
host all all 127.0.0.1/32 scram-sha-256
host all all ::1/128 scram-sha-256
{% for allowed_cidr in docker_postgres_allowed_cidr %}

# Allow access from {{ allowed_cidr }}
host all all {{ allowed_cidr }} scram-sha-256
{% if docker_postgres_replica_user | string | length > 0 %}
host replication {{ docker_postgres_replica_user }} {{ allowed_cidr }} scram-sha-256
{% endif %}
{% endfor %}
