PG_IMAGE="{{ docker_postgres_image_runtime }}"

PG_BASE="postgres"
PG_USER="{{ docker_postgres_pg_admin_user }}"
PG_PASS="{{ docker_postgres_pg_admin_pass }}"
PG_HOST="127.0.0.1"
PG_PORT="{{ docker_postgres_port }}"
PG_SSL="disable"
PG_CONTAINER="{{ docker_postgres_container }}"

{% if docker_postgres_walg_enabled | bool %}
WALG_IMAGE="{{ docker_postgres_image_runtime }}"
WALG_UTILITY_IMAGE="{{ docker_postgres_utility_image_full }}"
WALG_DATA_VOLUME="{{ docker_postgres_data_volume }}"
WALG_DATA_ROOT="{{ docker_postgres_data_root }}"
WALG_DATA_DIR="{{ docker_postgres_data_dir }}"
WALG_SNAPSHOT_DIR="/opt/postgres/snapshots"
{% endif %}

{% if docker_postgres_walg_enabled | bool and docker_postgres_walg_backup_s3_access_key | string | length > 0 and docker_postgres_walg_backup_s3_secret_key | string | length > 0 %}
WALG_BACKUP_S3_ENDPOINT="{{ docker_postgres_walg_backup_s3_endpoint }}"
WALG_BACKUP_S3_REGION="{{ docker_postgres_walg_backup_s3_region }}"
WALG_BACKUP_S3_BUCKET="{{ docker_postgres_walg_backup_s3_bucket }}"
WALG_BACKUP_S3_PREFIX="{{ docker_postgres_walg_backup_s3_prefix }}"
WALG_BACKUP_S3_ACCESS_KEY="{{ docker_postgres_walg_backup_s3_access_key }}"
WALG_BACKUP_S3_SECRET_KEY="{{ docker_postgres_walg_backup_s3_secret_key }}"
{% endif %}

{% if docker_postgres_walg_enabled | bool and docker_postgres_walg_recover_s3_access_key | string | length > 0 and docker_postgres_walg_recover_s3_secret_key | string | length > 0 %}
WALG_RECOVER_S3_ENDPOINT="{{ docker_postgres_walg_recover_s3_endpoint }}"
WALG_RECOVER_S3_REGION="{{ docker_postgres_walg_recover_s3_region }}"
WALG_RECOVER_S3_BUCKET="{{ docker_postgres_walg_recover_s3_bucket }}"
WALG_RECOVER_S3_PREFIX="{{ docker_postgres_walg_recover_s3_prefix }}"
WALG_RECOVER_S3_ACCESS_KEY="{{ docker_postgres_walg_recover_s3_access_key }}"
WALG_RECOVER_S3_SECRET_KEY="{{ docker_postgres_walg_recover_s3_secret_key }}"
{% if docker_postgres_walg_recover_origin_base | string | length > 0 %}
WALG_RECOVER_ORIGIN_BASE="{{ docker_postgres_walg_recover_origin_base }}"
{% endif %}
{% if docker_postgres_walg_recover_origin_owner | string | length > 0 %}
WALG_RECOVER_ORIGIN_OWNER="{{ docker_postgres_walg_recover_origin_owner }}"
{% endif %}
{% if docker_postgres_walg_recover_origin_users | length > 0 %}
WALG_RECOVER_ORIGIN_USERS="{{ docker_postgres_walg_recover_origin_users | join(' ') }}"
{% endif %}
{% if docker_postgres_walg_recover_target_base | string | length > 0 %}
WALG_RECOVER_TARGET_BASE="{{ docker_postgres_walg_recover_target_base }}"
{% endif %}
{% if docker_postgres_walg_recover_target_user | string | length > 0 %}
WALG_RECOVER_TARGET_USER="{{ docker_postgres_walg_recover_target_user }}"
{% endif %}
{% if docker_postgres_walg_recover_target_pass | string | length > 0 %}
WALG_RECOVER_TARGET_PASS="{{ docker_postgres_walg_recover_target_pass }}"
{% endif %}
{% endif %}
