PG_IMAGE="{{ docker_postgres_runtime_image_full }}"

PG_BASE="postgres"
PG_USER="{{ docker_postgres_pg_admin_user }}"
PG_PASS="{{ docker_postgres_pg_admin_pass }}"
PG_HOST="127.0.0.1"
PG_PORT="{{ docker_postgres_port }}"
PG_SSL="disable"

WALG_CONTAINER="{{ docker_postgres_container_name }}"
WALG_DATA_VOLUME="{{ docker_postgres_data_volume }}"
WALG_DATA_DIR="/var/lib/postgresql/data"
WALG_SNAPSHOT_DIR="/opt/postgres/snapshots"
{% if docker_postgres_walg_enabled | bool and docker_postgres_walg_backup_s3_access_key | string | length > 0 and docker_postgres_walg_backup_s3_secret_key | string | length > 0 %}
WALG_BACKUP_S3_ENDPOINT="{{ docker_postgres_walg_backup_s3_endpoint }}"
WALG_BACKUP_S3_REGION="{{ docker_postgres_walg_backup_s3_region }}"
WALG_BACKUP_S3_BUCKET="{{ docker_postgres_walg_backup_s3_bucket }}"
WALG_BACKUP_S3_PREFIX="{{ docker_postgres_walg_backup_s3_prefix }}"
WALG_BACKUP_S3_ACCESS_KEY="{{ docker_postgres_walg_backup_s3_access_key }}"
WALG_BACKUP_S3_SECRET_KEY="{{ docker_postgres_walg_backup_s3_secret_key }}"
{% endif %}

{% if docker_postgres_walg_enabled | bool and docker_postgres_walg_recover_s3_access_key | string | length > 0 and docker_postgres_walg_recover_s3_secret_key | string | length > 0 %}
WALG_RECOVER_S3_ENDPOINT="{{ docker_postgres_walg_recover_s3_endpoint }}"
WALG_RECOVER_S3_REGION="{{ docker_postgres_walg_recover_s3_region }}"
WALG_RECOVER_S3_BUCKET="{{ docker_postgres_walg_recover_s3_bucket }}"
WALG_RECOVER_S3_PREFIX="{{ docker_postgres_walg_recover_s3_prefix }}"
WALG_RECOVER_S3_ACCESS_KEY="{{ docker_postgres_walg_recover_s3_access_key }}"
WALG_RECOVER_S3_SECRET_KEY="{{ docker_postgres_walg_recover_s3_secret_key }}"
{% if docker_postgres_walg_recover_base_rename_before | string | length > 0 %}
WALG_RECOVER_BASE_RENAME_BEFORE="{{ docker_postgres_walg_recover_base_rename_before }}"
{% endif %}
{% if docker_postgres_walg_recover_base_rename_after | string | length > 0 %}
WALG_RECOVER_BASE_RENAME_AFTER="{{ docker_postgres_walg_recover_base_rename_after }}"
{% endif %}
{% if docker_postgres_walg_recover_user_rename_before | string | length > 0 %}
WALG_RECOVER_USER_RENAME_BEFORE="{{ docker_postgres_walg_recover_user_rename_before }}"
{% endif %}
{% if docker_postgres_walg_recover_user_rename_after | string | length > 0 %}
WALG_RECOVER_USER_RENAME_AFTER="{{ docker_postgres_walg_recover_user_rename_after }}"
{% endif %}
{% if docker_postgres_walg_recover_user_rename_password | string | length > 0 %}
WALG_RECOVER_USER_RENAME_PASSWORD="{{ docker_postgres_walg_recover_user_rename_password }}"
{% endif %}
{% if docker_postgres_walg_recover_reassign_users | length > 0 %}
WALG_RECOVER_REASSIGN_USERS="{{ docker_postgres_walg_recover_reassign_users | join(' ') }}"
{% endif %}
{% endif %}
