{% include 'postgresql.base.conf.j2' %}

{% if docker_postgres_walg_backup_enabled | bool %}
# WAL-G
archive_mode = on
archive_timeout = 300s
archive_command = '/usr/local/bin/wal-g wal-push "%p" >> /var/log/postgresql/walg_archive.log 2>&1'
{% endif %}
