apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://127.0.0.1:{{ docker_grafana_prometheus_port }}
    basicAuth: false
    orgId: 1
    isDefault: true

  - name: Loki
    type: loki
    access: proxy
    url: http://127.0.0.1:{{ docker_grafana_loki_port }}
    basicAuth: false
    orgId: 1

  - name: Tempo
    type: tempo
    access: proxy
    url: http://127.0.0.1:{{ docker_grafana_tempo_port }}
    basicAuth: false
    orgId: 1
