deb [signed-by=/usr/share/keyrings/gitlab_gitlab-ee-archive-keyring.gpg] {{ gitlab_apt_repo_url }} {{ gitlab_apt_repo_distribution }} {{ gitlab_apt_repo_component }}
deb-src [signed-by=/usr/share/keyrings/gitlab_gitlab-ee-archive-keyring.gpg] {{ gitlab_apt_repo_url }} {{ gitlab_apt_repo_distribution }} {{ gitlab_apt_repo_component }}
